@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Confirmation Email Sent";
}

<div class="col-sm-6 col-sm-offset-3">
    <h3>Confirmation Email</h3>
    <div>
        <p>An email has been sent to your email address</p>
        <p>Check your email and click the link in the email to activate your account</p>
    </div>
</div>