@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Home";
}

<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a asp-controller="Auth" asp-action="Login" class="btn btn-success">Login</a>
            <a asp-controller="Auth" asp-action="Register" class="btn btn-success">Register</a>
        </div>
        <div class="panel-body">
            <p>Cookbook allows you to replace the old notepads filled with recipes and all of granny's recipes for prosperity</p>
        </div>
    </div>
</div>
