@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Home";
}

<div class="col-sm-6 col-sm-offset-3">
    <p>Replace the old notepads filled with recipes or store granny's recipes for prosperity</p>
</div>
