@model Cookbook.ViewModels.RecipeViewModel
@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Create";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<div class="col-sm-6 col-sm-offset-3">
    <h2>Create Recipe</h2>
    <form method="post" class="form-horizontal well recipe">
        <fieldset>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serves"></label>
                <input asp-for="Serves" class="form-control" />
                <span asp-validation-for="Serves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients"></label>
                <textarea asp-for="Ingredients" cols="40" rows="4" class="form-control vresize"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method"></label>
                <textarea asp-for="Method" cols="40" rows="6" class="form-control vresize"></textarea>
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create recipe" class="btn btn-success" data-transmit="create" />
                <input type="button" value="Cancel" class="cancel btn btn-default pull-right" />
            </div>
        </fieldset>
    </form>
</div>