@model IEnumerable<Cookbook.Models.Recipe>
@using System
@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Recipes";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Cookbook</h2>
        <div>
            <ul class="nav">
                @{
                    if (Model.Count() == 0)
                    {
                        <li class="center-block">No recipes added yet</li>
                        <li><a asp-controller="recipe" asp-action="create">Add a recipe</a></li>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <li><a asp-controller="recipe" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></li>
                        }
                    }
                }
            </ul>

        </div>
    </div>
</div>