@model IEnumerable<Cookbook.Models.Recipe>
@using System
@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Recipes";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Cookbook</h2>
        <div>
            <div><a asp-controller="recipe" asp-action="create" class="btn btn-block btn-success">Add a recipe</a></div>
            @{
                if (Model.Count() == 0)
                {
                    <div class="text-center">Waiting for recipes to be added</div>
                }
                else
                {
                    <ul class="nav">
                        @foreach (var item in Model)
                        {
                            <li><a asp-controller="recipe" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>